@use 'variables';

body {
  margin: 0;
  background-color: variables.$bg;
  // background-color: purple;
  color: var(--text);
  font-size: 40px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-size: 1.5rem;
}

ul {
  list-style-image: url("../images/sword-32x32.png");
}
